## Smart Card Data

<b> Lectura y Preprocesamiento </b> <br>
Se lee el archivo de transacciones conservando solo aquellas columnas que sean necesarias para el análisis. <br>
Se convierte a formato Fecha y Hora a la columna FechaHoraValidacion. <br>
Se eliminan los registros únicos pues no son de relevancia para el primer método.

In [2]:
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

In [7]:
#Lectura de archivos
smart_data = pd.read_csv('C:\\Users\\rafa1\\Documents\\9no Semestre\\TIC\\infoCuenca\\extraccionDB\\valid_25_oct.csv', sep=',')
#Convertir a formato de hora
smart_data['FechaHoraValidacion'] = pd.to_datetime(
    smart_data['FechaHoraValidacion'].astype(str),
    format='%Y%m%d%H%M%S'
)

In [4]:
smart_data

,CodigoParada,NombreParada,CodigoLinea,NombreLinea,FechaHoraValidacion,CodigoTarjeta,CompaniaT,RegistroMunicipal,TipoTarifa,Categoria
0,1922,COLISEO,5002,27,2023-10-25 18:04:46,CURS0030260653,05 - COMTUBANOSSA,214,0,3
1,1958,CEMENTERIO,1004,50,2023-10-25 12:04:43,CURS0030260665,03 - RICAURTESA S.A.,145,0,3
2,243,CENTRO DE LLACAO,6010,Llacao,2023-10-25 11:49:49,CURS0030264926,06 - COMTRANUTOME S.A,324,0,3
3,1197,REDONDEL DE MIRAFLORES,7003,8,2023-10-25 06:30:24,CURS0030264931,07 - COMCUETU S.A,424,0,3
4,929,ENTRADA A BUENOS AIRES,7001,1B,2023-10-25 18:29:00,CURS0030266381,03 - RICAURTESA S.A.,152,0,3
...,...,...,...,...,...,...,...,...,...,...
350576,3763,SAN PABLO DE LAGO Y SUROCUCHO,5001,12,2023-10-25 12:57:48,CURS0030255116,03 - RICAURTESA S.A.,127,0,3
350577,1589,MARIA AUXILIADORA,2001,17,2023-10-25 13:59:07,CURS0030255116,02 - URBADIEZ S.A,94,0,3
350578,4499,FERIA LIBRE,6005,15,2023-10-25 10:52:41,CURS0030255126,06 - COMTRANUTOME S.A,293,0,3
350579,1725,LUIS CORDERO,9100,100,2023-10-25 13:40:21,CURS0030255128,07 - COMCUETU S.A,394,0,3
350580,589,IGLESIA EVANGELICA,4001,7,2023-10-25 06:42:00,CURS0030260167,04 - UNCOMETRO S.A,170,0,3

In [43]:
len(smart_data['NombreLinea'].unique().tolist())

76

In [6]:
#Lectura de archivos
smart_data2 = pd.read_csv('C:\\Users\\rafa1\\Documents\\9no Semestre\\TIC\\infoCuenca\\extraccionDB\\valid_10_oct.csv', sep=',')
#Convertir a formato de hora
smart_data2['FechaHoraValidacion'] = pd.to_datetime(
    smart_data2['FechaHoraValidacion'].astype(str),
    format='%Y%m%d%H%M%S'
)

In [10]:
smart_data2[smart_data2['CodigoTarjeta'] == 'CURA0010025149']

,CodigoParada,NombreParada,CodigoLinea,NombreLinea,FechaHoraValidacion,CodigoTarjeta,CompaniaT,RegistroMunicipal,TipoTarifa,Categoria
23322,0,No Determinado,7002,3,2023-10-10 15:44:54,CURA0010025149,07 - COMCUETU S.A,475,1,1
23323,0,No Determinado,7002,3,2023-10-10 15:44:57,CURA0010025149,07 - COMCUETU S.A,475,1,1
25438,1001,ESCUELA JESUS VASQUEZ OCHOA,7001,1B,2023-10-10 07:55:22,CURA0010025149,05 - COMTUBANOSSA,216,1,1
25439,1001,ESCUELA JESUS VASQUEZ OCHOA,7001,1B,2023-10-10 16:10:33,CURA0010025149,06 - COMTRANUTOME S.A,352,1,1
25440,1001,ESCUELA JESUS VASQUEZ OCHOA,7001,1B,2023-10-10 16:10:36,CURA0010025149,06 - COMTRANUTOME S.A,352,1,1
26564,1511,CORDILLERA,7001,1B,2023-10-10 13:15:54,CURA0010025149,02 - URBADIEZ S.A,92,1,1

<b>Observaciones</b> <br>
Los valores en 'CodigoParada' no coinciden con los ids de la base de paradas. <br>
Los valores en 'NombreParada' no coinciden con los existentes en la base de paradas. <br>

In [3]:
#Lectura de la base de datos de paradas
stops_data = pd.read_excel('C:\\Users\\rafa1\\Documents\\9no Semestre\\TIC\\paradas_cercanas.xlsx')
#Mantener solo los nombres de paradas coincidentes
#smart_data_existente = smart_data[smart_data['NombreParada'].isin(stops_data['nombres'])].reset_index()

NameError: name 'smart_data' is not defined

In [58]:
#smart_data['NombreLinea'].unique()

In [59]:
#lines_data['name'].unique()

In [22]:
#lines_data.columns.tolist()
#smart_data.sort_values(by=['CodigoTarjeta', 'FechaHoraValidacion'])

In [21]:
#smart_data[smart_data['NombreParada'] == 'COLEGIO CIUDAD DE CUENCA']["NombreLinea"].unique()

array(['50', '1B'], dtype=object)

## Asignación Existente

In [1]:
#Lectura de las paradas disponibles en la base de datos de cuenca
import geopandas as gpd
import plotly.express as px
import networkx as nx
from shapely.geometry import LineString, Point, MultiLineString
from shapely.ops import nearest_points, linemerge

In [39]:
stops_data = gpd.read_file("C:\\Users\\rafa1\\Documents\\9no Semestre\\TIC\\gadcuenca\\Paradas depuradas.shp")

La cantidad de paradas en la base de Cuenca son:

In [44]:
len(stops_data['ID-PARADA'].unique())

2413

La cantidad de paradas en la base de Transacciones son:

In [15]:
print(len(smart_data['CodigoParada'].unique()))

1971

Existe coincidencia de IDs en:

In [20]:
valores_coincidentes = smart_data['CodigoParada'][smart_data['CodigoParada'].isin(stops_data['ID-PARADA'])]
print(len(valores_coincidentes.unique()))  # Muestra los valores únicos que coinciden

1903

Aún restan 68 paradas que deben determinarse, sin embargo, la cantidad de transacciones perdidas por esta no coincidencia es de:

In [28]:
num_coincidencias = smart_data['CodigoParada'].isin(stops_data['ID-PARADA']).sum()
print(f"El porcentaje de datos perdidos es de: {100*(1-(num_coincidencias/len(smart_data)))} %")

El porcentaje de datos perdidos es de: 2.5991140421186554 %

## Reconstrucción de Trayecto

{1340}

## Bus Stop, Tranvia and Line Data

<b> Lectura de los Datos

In [48]:
#unique_stops_nombres = set(stops_data['nombres'].dropna().unique())
tranvia_data = pd.read_excel('C:\\Users\\rafa1\\Documents\\9no Semestre\\TIC\\CAPAS\\TRANVIA.xlsx')
lines_data = pd.read_excel('C:\\Users\\rafa1\\Documents\\9no Semestre\\TIC\\CAPAS\\LINEAS.xlsx')

In [5]:
#Crear una columna que indica que líneas de autobus pasan 
non_line_cols = ['id2', 'nombres', 'Lon', 'Lat']
line_columns = [col for col in stops_data.columns if col not in non_line_cols]
stops_data['bus_lines'] = stops_data[line_columns].apply(
    lambda row: [col for col in row.index if row[col] == 1],
    axis=1
)
stops_data = stops_data[stops_data['bus_lines'].apply(lambda x: len(x) > 0)].reset_index(drop=True)

<b>Estadísticas de los Datos Cargados</b>

In [36]:
print(
    "\n{:<60} {:>10}".format("Descripción", "Cantidad") +
    "\n" + "-"*72 +
    "\n{:<60} {:>10}".format("Cantidad de registros en 'smart_data'", len(smart_data)) +
    "\n{:<60} {:>10}".format("Nombres de parada únicos en 'smart_data'", len(unique_smart_paradas)) +
    "\n{:<60} {:>10}".format("Códigos de parada únicos en 'smart_data'", len(set(smart_data['CodigoParada'].dropna().unique()))) +
    "\n{:<60} {:>10}".format("Cantidad de líneas en 'smart_data'", len(smart_data['CodigoLinea'].dropna().unique())) +
    "\n{:<60} {:>10}".format("Cantidad de líneas en 'lines_data'", len(lines_data['linename'].dropna().unique()))
)

Descripción                                                    Cantidad
------------------------------------------------------------------------
Cantidad de registros en 'smart_data'                            353239
Nombres de parada únicos en 'smart_data'                           1432
Códigos de parada únicos en 'smart_data'                           1968
Cantidad de líneas en 'smart_data'                                   77
Cantidad de líneas en 'lines_data'                                   41

In [20]:
print(
    "\n{:<60} {:>10}".format("Descripción", "Cantidad") +
    "\n" + "-"*72 +
    "\n{:<60} {:>10}".format("Nombres de parada únicos en 'stops_data'", len(set(stops_data['nombres'].dropna().unique()))) +
    "\n{:<60} {:>10}".format("Códigos de parada únicos en 'stops_data'", len(set(stops_data['id2'].dropna().unique()))) +
    "\n{:<60} {:>10}".format("Paradas coincidentes por nombre entre 'smart_data' y 'stops_data'", len(unique_smart_paradas.intersection(unique_stops_nombres))) +
    "\n{:<60} {:>10}".format("Paradas coincidentes por código entre 'smart_data' y 'stops_data'", len(set(smart_data['CodigoParada'].dropna().unique()).intersection(set(stops_data['id2'].dropna().unique())))) +
    "\n{:<60} {:>10}".format("Registros coincidentes por nombre", len(smart_data_existente)) +
    "\n{:<60} {:>10}".format("Registros coincidentes por código", len(smart_data[smart_data['CodigoParada'].isin(stops_data['id2'])]))
)

Descripción                                                    Cantidad
------------------------------------------------------------------------
Nombres de parada únicos en 'stops_data'                           1102
Códigos de parada únicos en 'stops_data'                           1633
Paradas coincidentes por nombre entre 'smart_data' y 'stops_data'        416
Paradas coincidentes por código entre 'smart_data' y 'stops_data'        748
Registros coincidentes por nombre                                136222
Registros coincidentes por código                                 94568

In [45]:
#------------------------------------------DATAFRAME CON IDS DE PARADAS CERCANAS A UN RADIO DE 1000M------------------------------

near_stops = pd.read_excel('C:\\Users\\rafa1\\Documents\\9no Semestre\\TIC\\paradas_cercanas.xlsx')
agrupado = (
    near_stops[near_stops['ID-PARADA'] != near_stops['ID-PARADA_2']]
    .groupby('ID-PARADA')['ID-PARADA_2']
    .apply(lambda x: sorted(set(x)))
    .reset_index()
)
# Extraer valores únicos de las columnas asociadas a cada id2
info_extra = near_stops[['ID-PARADA', 'PARADA', 'LONGITUD', 'LATITUD']].drop_duplicates('ID-PARADA')
# Unir el resultado con la información adicional
resultado = agrupado.merge(info_extra, on='ID-PARADA', how='left')
print(resultado)

      ID-PARADA                                        ID-PARADA_2  \
0             0  [1216, 1222, 1226, 1232, 1243, 1247, 1258, 126...
1             1    [2, 3, 4, 5, 6, 7, 8, 11, 12, 4464, 4465, 4466]
2             2    [1, 3, 4, 5, 6, 7, 8, 11, 12, 4464, 4465, 4466]
3             3                [1, 2, 4, 5, 6, 7, 8, 11, 12, 4466]
4             4                [1, 2, 3, 5, 6, 7, 8, 11, 12, 4466]
...         ...                                                ...
2408       4571  [3084, 3086, 3099, 3121, 3126, 3127, 3132, 313...
2409       4572  [1025, 1045, 1057, 1061, 1080, 1096, 1098, 110...
2410       4573  [1025, 1045, 1057, 1061, 1080, 1096, 1098, 110...
2411       4579  [1664, 1701, 1714, 1724, 1725, 1734, 1772, 177...
2412       4580  [1419, 1450, 1465, 1482, 1504, 1529, 1547, 155...

                       PARADA   LONGITUD   LATITUD
0      MIGUEL HEREDIA Y LAMAR -79.012353 -2.892353
1          LA Y DE CHAQUILCAY -78.969960 -2.772526
2          LA Y DE CHAQUILCAY -78.970342 -2.772688
3      ENTRADA A GUANDO CALLE -78.968848 -2.774447
4      ENTRADA A GUANDO CALLE -78.968914 -2.774558
...                       ...        ...       ...
2408     NO EXISTE ESA PARADA -79.040352 -2.927428
2409     NO EXISTE ESA PARADA -79.022445 -2.889036
2410     NO EXISTE ESA PARADA -79.024191 -2.887950
2411  PARQUE VICTOR J. CUESTA -79.000042 -2.900093
2412     NO EXISTE ESA PARADA -79.028566 -2.892139

[2413 rows x 5 columns]

## Transferencias Bus-Bus

### Instancia supuesto A2

Para el primer experimento se optó por implementar el supuesto a A2 que tiene que ver con el regreso al lugar de origen (ciclo de viaje) de una persona. Se estableció un rango de tiempo de 5 horas entre dos abordajes de un mismo dia para un mismo pasajero para asumir que el lugar en donde bajó debe estar cerca de dónde volvió a subir pues realizo algun tipo de actividad, trabajo, escolar.

In [8]:
#Ordenamos los registros por id de usuario y hora
smart_data = smart_data[smart_data['NombreLinea'] == '16']
smart_instancia = smart_data.sort_values(['CodigoTarjeta', 'FechaHoraValidacion'])
smart_instancia = smart_instancia[smart_instancia['CodigoTarjeta'].duplicated(keep=False)].reset_index(drop=True)

NameError: name 'smart_instancia' is not defined

In [15]:
filtrado = smart_data[smart_data['NombreLinea'] == '16']
filtrado.groupby

13791

In [9]:
#Dataframe de paradas cercanas en un radio de 500m
near_stops = pd.read_excel('C:\\Users\\rafa1\\Documents\\9no Semestre\\TIC\\paradas_cercanas.xlsx')
agrupado = (
    near_stops[near_stops['ID-PARADA'] != near_stops['ID-PARADA_2']]
    .groupby('ID-PARADA')['ID-PARADA_2']
    .apply(lambda x: sorted(set(x)))
    .reset_index()
)
# Extraer valores únicos de las columnas asociadas a cada id2
info_extra = near_stops[['ID-PARADA', 'PARADA', 'LONGITUD', 'LATITUD']].drop_duplicates('ID-PARADA')
# Unir el resultado con la información adicional
resultado = agrupado.merge(info_extra, on='ID-PARADA', how='left')

#### Distancia Haversine

In [11]:
def haversine_distance(lon1, lat1, lon2, lat2):
    R = 6371  # Radio de la Tierra en kilómetros
    lat1_rad = radians(lat1)
    lon1_rad = radians(lon1)
    lat2_rad = radians(lat2)
    lon2_rad = radians(lon2)
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    # Fórmula Haversine
    a = sin(dlat / 2)**2 + cos(lat1_rad) * cos(lat2_rad) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance # en km

#### Implementación

In [102]:
# Contar cuántas validaciones tiene cada tarjeta
validaciones_por_tarjeta = smart_instancia.groupby('CodigoTarjeta').size().reset_index(name='num_validaciones')
tarjetas_dos_viajes = validaciones_por_tarjeta[validaciones_por_tarjeta['num_validaciones'] == 2]['CodigoTarjeta']
viajes_dos = smart_instancia[smart_instancia['CodigoTarjeta'].isin(tarjetas_dos_viajes)].copy().reset_index(drop=True)

In [103]:
smart_instancia = viajes_dos

In [105]:
def inferir_descensos_por_id(smart_instancia, stops_instancia, resultado):
    resultados = []
    no_procesados = []
    i = 0
    n = len(smart_instancia)
    while i < n:
        # Último registro (no tiene pareja)
        if i == n - 1:
            no_procesados.append({
                'indice': i,
                'UsuarioID': smart_instancia.iloc[i]['CodigoTarjeta'],
                'Razon': 'Registro único'
            })
            break
            
        usuario_actual = smart_instancia.iloc[i]['CodigoTarjeta']
        usuario_siguiente = smart_instancia.iloc[i+1]['CodigoTarjeta']
        
        # Caso par ida-vuelta
        if usuario_actual == usuario_siguiente:
            try:
                # Datos IDA
                id_linea_ida = smart_instancia.iloc[i]['CodigoLinea']
                codigo_parada_ida = smart_instancia.iloc[i]['CodigoParada']
                
                # Datos VUELTA (posible descenso IDA)
                codigo_parada_vuelta = smart_instancia.iloc[i+1]['CodigoParada']
                
                # Verificar si la parada de vuelta existe en stops_instancia
                mask = (stops_instancia['ID-PARADA'] == codigo_parada_vuelta)
                if not mask.any():
                    raise ValueError(f"Parada {codigo_parada_vuelta} no encontrada")
                
                # Obtener paradas cercanas desde resultado
                paradas_cercanas = resultado.loc[
                    resultado['ID-PARADA'] == codigo_parada_vuelta, 'ID-PARADA_2'
                ].values[0]
                
                # Filtrar paradas que pertenezcan a la misma línea
                paradas_validas = []
                for parada_id in paradas_cercanas:
                    # Verificar si la parada existe y tiene la misma línea
                    mask_parada = (
                        (stops_instancia['ID-PARADA'] == parada_id) & 
                        (stops_instancia['ID-LINEA'] == id_linea_ida)
                    )
                    if mask_parada.any():
                        paradas_validas.append(parada_id)
                
                if paradas_validas:
                    resultados.append({
                        'UsuarioID': usuario_actual,
                        'Tipo': 'IDA',
                        'ID_Linea': id_linea_ida,
                        'ID_Parada_Ascenso': codigo_parada_ida,
                        'ID_Parada_Descenso_Estimado': paradas_validas[0],
                        'ID_Parada_Descenso_Real': codigo_parada_vuelta,
                        'Coincidencia_Linea': True,
                        'Estatus': 'EXITO'
                    })
                

                
                i += 2
                
            except Exception as e:
                resultados.append({
                    'UsuarioID': usuario_actual,
                    'Estatus': 'FALLIDO',
                    'Error': str(e)
                })
                i += 1
        else:
            no_procesados.append({
                'indice': i,
                'UsuarioID': usuario_actual,
                'Razon': 'Usuario diferente'
            })
            i += 1
    
    return {
        'descensos_inferidos': pd.DataFrame(resultados),
        'no_procesados': pd.DataFrame(no_procesados)
    }

In [107]:
inferido = inferir_descensos_por_id(smart_instancia, stops_data, resultado)

In [109]:
inferido['descensos_inferidos']

,UsuarioID,Tipo,ID_Linea,ID_Parada_Ascenso,ID_Parada_Descenso_Estimado,ID_Parada_Descenso_Real,Coincidencia_Linea,Estatus
0,CURA0010000724,IDA,1002,1572,578,666,True,EXITO
1,CURA0010002772,IDA,1002,2172,2722,3047,True,EXITO
2,CURA0010004906,IDA,1002,4504,1045,1080,True,EXITO
3,CURA0010005761,IDA,1002,2955,2722,2955,True,EXITO
4,CURA0010006646,IDA,1002,1866,2127,2378,True,EXITO
...,...,...,...,...,...,...,...,...
2026,CURS0030292454,IDA,1002,1098,1180,1245,True,EXITO
2027,CURS0030292974,IDA,1002,4143,578,4143,True,EXITO
2028,CURS0030293081,IDA,1002,4510,1890,2096,True,EXITO
2029,CURS0030293297,IDA,1002,578,2722,2955,True,EXITO
2030,CURS0030293460,IDA,1002,1866,1852,1843,True,EXITO

In [14]:
resultados_inferencia = []
# Verificamos que el DataFrame no esté vacío
if len(smart_instancia) == 0:
    raise ValueError("El DataFrame smart_instancia está vacío")

# Verificamos que haya un número par de registros
if len(smart_instancia) % 2 != 0:
    print("Advertencia: Número impar de registros. El último registro no se procesará")

num_usuarios = len(smart_instancia) // 2

for i in range(num_usuarios):
    try:
        idx_ida = i * 2
        idx_vuelta = i * 2 + 1
        
        # Procesamiento IDA --------------------------------------------
        linea_ida = smart_instancia["NombreLinea"].iloc[idx_ida]
        parada_ida = smart_instancia["NombreParada"].iloc[idx_ida]
        nuevo_ascenso_ida = smart_instancia["NombreParada"].iloc[idx_vuelta]
        usuario = smart_instancia['CodigoTarjeta'].iloc[idx_ida]
        fecha_hora_ida = smart_instancia["FechaHoraValidacion"].iloc[idx_ida]
        fecha_hora_regreso = smart_instancia["FechaHoraValidacion"].iloc[idx_vuelta]
        # Buscar id_ascenso con manejo de error
        try:
            id_ascenso_ida = stops_instancia.loc[
                stops_instancia['nombres'] == nuevo_ascenso_ida, 'id2'
            ].iloc[0]
        except IndexError:
            #print(f"No se encontró la parada {nuevo_ascenso_ida} en stops_instancia")
            continue
            
        # Resto del procesamiento IDA
        paradas_cercanas_ida = resultado.loc[resultado['id2'] == id_ascenso_ida, 'id2_2'].values
        if len(paradas_cercanas_ida) == 0:
            continue
        paradas_cercanas_ida = paradas_cercanas_ida[0]
        
        lineas_parada_ida = stops_instancia.loc[
            stops_instancia['id2'] == id_ascenso_ida, 'bus_lines'
        ].values
        if len(lineas_parada_ida) == 0:
            continue
        lineas_parada_ida = lineas_parada_ida[0]
        
        paradas_comunes_ida = []
        for parada_id in paradas_cercanas_ida:
            fila = stops_instancia.loc[stops_instancia['id2'] == parada_id, 'bus_lines']
            if not fila.empty:
                lineas_paradas = fila.iloc[0]
                if any(linea in lineas_paradas for linea in lineas_parada_ida):
                    paradas_comunes_ida.append(parada_id)
        
        if paradas_comunes_ida:
            parada_descenso_ida = paradas_comunes_ida[0]
            #print(f"Usuario {usuario}: Descenso IDA inferido en {parada_descenso_ida}")
            resultados_inferencia.append({
            'CodigoTarjeta': usuario,
            'FechaHoraAscenso': fecha_hora_ida,
            'ParadaAscenso_Nombre': parada_ida,
            'LineaViaje': linea_ida,
            'ParadaRegreso': nuevo_ascenso_ida,
            'FechaHoraRegreso': fecha_hora_regreso,
            'ParadaDescenso_Inferida': parada_descenso_ida # El resultado de la inferencia (o None)
            })
        
    except Exception as e:
        print(f"Error procesando usuario {i}: {str(e)}")
        continue

In [15]:
df_inferencias_final = pd.DataFrame(resultados_inferencia)

In [16]:
df_inferencias_final

,CodigoTarjeta,FechaHoraAscenso,ParadaAscenso_Nombre,LineaViaje,ParadaRegreso,FechaHoraRegreso,ParadaDescenso_Inferida
0,CURA0010017633,2023-10-04 12:34:13,CLINICA LATINOAMERICANA,50,CLINICA LATINOAMERICANA,2023-10-04 12:34:16,339
1,CURA0010019849,2023-10-04 07:53:54,CONDOMINIO LA RIOJA,10,CHOLA CUENCANA,2023-10-04 09:46:40,542
2,CURA0010021197,2023-10-04 10:14:26,ALMACENES JUAN ELJURI,8,ALMACENES JUAN ELJURI,2023-10-04 10:14:30,84
3,CURA0010025149,2023-10-04 14:48:31,ENTRADA A SAN JOSE DE BALZAY,8,GASOLINERA SINDICATO DE CHOFERES,2023-10-04 18:20:41,784
4,CURA0010027676,2023-10-04 06:41:32,SAN BLAS,10,SAN BLAS,2023-10-04 11:38:20,539
...,...,...,...,...,...,...,...
1613,CURS0030290652,2023-10-04 11:43:25,ENTRADA A LA CATOLICA,8,ENTRADA A LA CATOLICA,2023-10-04 11:43:30,783
1614,CURS0030290655,2023-10-04 14:42:52,LUIS CORDERO,8,ESCUELA 3 DE NOVIEMBRE,2023-10-04 18:25:11,720
1615,CURS0030291030,2023-10-04 07:08:19,TECNICO SUDAMERICANO,10,TIENDA ELVIA,2023-10-04 12:42:31,208
1616,CURS0030291951,2023-10-04 06:15:53,ENTRADA A SAN JOSE DE BALZAY(C),50,MARIA AUXILIADORA,2023-10-04 14:15:33,718
1617,CURS0030291953,2023-10-04 06:25:47,IGLESIA SAN JOSE DE BALZAY,50,CLINICA LATINOAMERICANA,2023-10-04 13:30:55,339

In [19]:
stops_instancia[stops_instancia['id2']==542]

,id2,nombres,l1,l2,l3,l4,l5,l6,l7,l8,...,IL50,RL50,IL13,RL13,IL13A,RL13A,IL13B,Lon,Lat,bus_lines
80,542,VARGAS MACHUCA Y SANGURIMA (ROTARY),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.999476,-2.895227,"[l10, l19, l24, RL19]"

#### Red Completa

In [10]:
busStopDf = resultado.copy()
#Renombrar columnas necesarias
busStopDf = busStopDf.rename(columns={
    'id2': 'IDSTOP',
    'nombres': 'DENOMINAPARADA',
    'Lon': 'LONGITUD',
    'Lat': 'LATITUD',
    'id2_2': 'nearStops_str'
})
#Agregar columna con tipo de transporte
busStopDf['type'] = 1
#Mantener solo las paradas unicas
allUniqueStopDf = busStopDf.drop_duplicates(subset=['DENOMINAPARADA'], keep='first').reset_index(drop=True)
allUniqueStopDf = allUniqueStopDf.rename(columns={'nombre_limpio': 'STOP_NAME'})

In [12]:
print("Paradas únicas cargadas:", len(allUniqueStopDf))

Paradas únicas cargadas: 1102

In [24]:
allUniqueStopDf

,IDSTOP,nearStops_str,DENOMINAPARADA,LONGITUD,LATITUD,type
0,1,"[2, 3, 39, 40, 41, 317, 318, 319, 320, 1146, 1...",PARQUE INTERANDINO,-78.970022,-2.890784,1
1,2,"[1, 3, 4, 38, 39, 40, 41, 317, 318, 319, 320, ...",ALTIPLANO Y NAZACOTA PUERTO,-78.971781,-2.891701,1
2,3,"[1, 2, 4, 38, 39, 40, 41, 313, 314, 317, 318, ...",ALTIPLANO Y HUALCOPO,-78.973142,-2.892479,1
3,4,"[2, 3, 37, 38, 39, 312, 313, 314, 317, 320, 32...",ALTIPLANO Y LOS ANDES,-78.975386,-2.893593,1
4,5,"[6, 7, 36, 37, 313, 314, 315, 316, 317, 320, 3...",BUERAN Y LOS ANDES,-78.977739,-2.889703,1
...,...,...,...,...,...,...
1097,1653,"[226, 227, 248, 249, 250, 550, 552, 553, 560, ...",BARRIAL BLANCO Y ARZOBISPO SERRANO ABAD,-78.987533,-2.878650,1
1098,1655,"[69, 70, 71, 72, 95, 96, 97, 1656, 1657]",CAMINO SALADO 3,-79.004511,-2.840328,1
1099,1656,"[69, 70, 71, 95, 96, 97, 1655, 1657]",CAMINO AL SALADO 3,-79.004805,-2.840570,1
1100,1662,"[388, 389, 390, 391, 404, 405, 406, 407, 668, ...",PARADA FINAL L13,-79.036209,-2.871658,1
1101,1663,"[388, 389, 390, 391, 404, 405, 406, 407, 668, ...",PARADA INICIO L13,-79.036209,-2.871611,1

In [16]:
#Procesamiento de las transacciones y renombramiento de columnas
usersDf = smart_data.copy()
print('Tamaño de las transacciones:', len(smart_data))

In [23]:
v = usersDf.CodigoTarjeta.value_counts()
usersDf = usersDf[usersDf['CodigoTarjeta'].isin(v.index[v.gt(1)])]
print('Tamaño de las transacciones sin registros únicos: ', len(usersDf))

Dataset size after removing single transactions:  307226

In [25]:
usersDf

,CodigoParada,NombreParada,CodigoLinea,NombreLinea,FechaHoraValidacion,CodigoTarjeta,CompaniaT,RegistroMunicipal,TipoTarifa,Categoria
0,1197,REDONDEL DE MIRAFLORES,9102,Linea 4,2023-10-04 12:19:04,CURS0030270723,05 - COMTUBANOSSA,228,0,3
1,654,LACESA,1002,16,2023-10-04 19:01:21,CURS0030268433,01 - LANCOMTRI S.A,39,0,3
2,1890,COLEGIO SAGRADOS CORAZONES,6007,22,2023-10-04 06:29:38,CURS0030268440,06 - COMTRANUTOME S.A,255,0,3
5,922,VIA A PACCHA,6023,Ucubamba,2023-10-04 07:01:18,CURS0030268446,06 - COMTRANUTOME S.A,356,0,3
6,2994,FRANCISCO MOSCOSO Y 27 DE FEBRERO,1002,16,2023-10-04 06:25:53,CURS0030268454,01 - LANCOMTRI S.A,16,0,3
...,...,...,...,...,...,...,...,...,...,...
353234,1803,CIUDADELA UNE,1003,20,2023-10-04 18:06:15,CURS0030289462,01 - LANCOMTRI S.A,62,0,3
353235,1701,9 DE OCTUBRE,6007,22,2023-10-04 16:57:29,CURS0030289473,06 - COMTRANUTOME S.A,255,0,3
353236,233,ENTRADA ESCUELA DOLOROSA,3004,Santa Rosa,2023-10-04 05:57:39,CURS0030289475,03 - RICAURTESA S.A.,108,0,3
353237,416,BAJADA CORAZON DE JESUS,3009,10 - Florida - Paluncay,2023-10-04 06:47:58,CURS0030289482,04 - UNCOMETRO S.A,171,0,3
353238,1701,9 DE OCTUBRE,4002,25,2023-10-04 14:37:36,CURS0030289488,05 - COMTUBANOSSA,217,0,3